@media screen and (max-width: 768px) {
    .findbar {
        width: 100%;
        height: 50px;
        word-break: break-all;
        overflow-x: auto;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 10px;
    }

    .chatbar {
        width: 100%;   
        height: 60px;
        word-break: break-all;
        overflow-x: auto;
    }
}

@media screen and (max-width: 576px) {
    .rangeposition {
        position: absolute;
        top: 0px;
        left: 190px;
        transform: rotate(0deg);
      }

      .changeTheme {
        position: absolute;
        top: 0px;
        left: 0px;
      }
}