* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color styles */
:root {
  --bg-color-gradient: #009688;
  --bg-mex1: #d5f9ba;
  --bg-mex2: #ffffff;
  --bg-avatar: #8edafc;
  --bg-bars: #eaeaea;
  --bg-icons: #b1b1b1;
  --bg-text-main: #000000;
  --bg-icons-dark: #6B7376;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  width: 50px;
}

/* utility */

.pointer {
    cursor: pointer;
}

.icons-color {
  color: var(--bg-icons);
}
.bell {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#bellcolor {
  color: var(--bg-avatar);
}

.icon-dark {
  color: var(--bg-icons-dark);
}
.f-smalltag {
  font-size: 0.875em;
}

.bg-mex1 {
  background-color: var(--bg-mex1);
}

.bg-mex2 {
  background-color: var(--bg-mex2);
}

.bg-avatar {
  background-color: var(--bg-avatar);
}

.bg-bars {
  background-color: var(--bg-bars);
}

.bg-icons {
  background-color: var(--bg-icons);
}

.bg-text-main {
  background-color: var(--bg-text-main);
}

.bg-app {
  background: linear-gradient(180deg, #009688 20%, #d8d8d5 20%);
}

.userbar {
  height: 60px;
}

.findbar {
  height: 50px;
}

.chat {
  height: calc(100% - 170px);
}

.chatbar {
  height: 60px;
}

.chat {
  height: calc(100% - 120px);
  background-image: url("../img/mine.jpg");
}
.active {
  background-color: var(--bg-icons);
}

.message {
  width: 150px;
  padding: 5px;
}
.sent {
  background-color: var(--bg-mex1);
}

.recived {
  background-color: var(--bg-mex2);
}